@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Menu pour les petits écrans */
.menu-mobile {
  display: none;
}

.menu-desktop {
  display: none;
}

.menu-desktop {
  display: flex;
}

.menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-mobile {
    display: none;
  }
}
